<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="learning.thisone" >

    <uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity

            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImgView"
            android:label="@string/title_activity_img_view" >
        </activity>
        <activity
            android:name=".Web_view"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name=".Ytube"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="title_activity_ytube" >
        </activity>
    </application>

</manifest>
